* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #e0e0e0;
  color: #1d1d1d;
}

.contenedor {
  width: 95%;
  min-height: 100vh;
  max-width: 1140px;
  margin: 0 auto 100px auto;
  padding: 60px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  box-shadow: 2.1px 2.1px 5px rgba(0, 0, 0, 0.075),
    17px 17px 40px rgba(0, 0, 0, 0.15);
}

.contenedor .pelicula {
  text-align: center;
}

.pelicula .titulo {
  font-size: 16px;
  font-weight: 600;
}
.pelicula .container-poster {
  width: 100%;
  min-height: 220px;
  margin-bottom: 10px;
}
.pelicula .poster {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

@media (max-width: 860px) {
  .contenedor {
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    padding: 30px 25px;
  }
}
